
body{
    margin: 0;
    background: linear-gradient(to bottom, #697565, #3C3D37);
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #D3D3D3;
    width: 100%;
    transition: filter 0.3s ease;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    height: 600px;
}
.halfHeader{
    background:url(bgheader.png);
    background-size:cover;
    height: 100%;
    filter: brightness(0.9);
}
.navbar{
    background-color: #1E201E;
    height: 15%;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 150px;
    height: 100px;
}
#logoImg{
    height: 100px;
}
a{
    text-decoration: none;
    transition: 0.2s ease;
}
.socLinks{
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 90px;
}
.navLink a{
    color: #ECDFCC;
    transition: 0.2s ease;
}
.navLink a:hover{
    color: white;
}
/*nav*/
.compName p{
    font-size: 35px;
}
.compName{
    text-align: center;
}
.leftSide{
    margin-left: 30px;
}
.compInfo1{
    height: 200px;
    width: 100%;
    font-size: 20px;
}
.compInfo1 p{
    text-align: center;
    line-height: 1.7;
}
.compInfo2{
    height: 100px;
    width: 80%;
    font-size: 20px;
    margin: 20px;
}
.compInfo2 p{
    text-align: center;
    line-height: 1.7;
}
.compInfos23{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.compImg1{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.compImg1 img{
    width: 23%;
    height: 400px;
    margin: 1px;
    transition: 0.3s ease;
    filter: brightness(0.7);
    border-radius: 5px;
}
.compImg1 img:hover {
    transform: scale(1.1);
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.7);
    filter: brightness(1);
}
.selection{
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.selCards{
    margin-top: 100px;
    background: linear-gradient(to bottom, #7A8674, #697565);
    height: 280px;
    width: 300px;
    transition: 0.3s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:5px;
}
.selCards:hover{
    transform: scale(1.2);
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.7);
}
.selGif{
    height: 60%;
    width: 90%;
}
.selName{
    height: 25%;
    width: 100%;
}
.selName p{
    font-size: 25px;
}
.selLink{
    border-radius: 5px;
    height: 10%;
    width: 90%;
    background-color: darkgray;
    transition: 0.3s ease;
}
.selLink:hover{
    cursor: pointer;
    transform: scale(1.08);
}
.selGif video{
    width: 100%;
    height: 111%;
    object-fit: contain;
}


